# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.4"
  - "3.3"
  - "2.7"
  - "pypy"

install: python setup.py install
# command to run tests, e.g. python setup.py test
script: python -m unittest discover tests
